html, body {
        color: #585858;
        height: 96%;
        margin: 1%;
        padding: %;
        font-family: 'Alegreya', sans-serif;
        margin-top: 0px;
      }

/*header {
	background-color: #225378;
	padding: 7px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	color: #FEFDFD;
	width: 100%;
	box-shadow: 1px 1px 4px 2px rgba(0,0,0 ,0.7);

}*/

header h3, h1 {
	font-weight: 300;
	display: inline-block;
}

.navbar-collapse {
  text-align:center;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  border: none;
}


.navbar-default .navbar-nav li a {
    color: white;
    height: 10% !important;

}
.navbar-default{
    background-color: black;
    border-color: black;
    
    opacity: 0.7;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    
    color: white;
}



.navbar-nav {
    display:inline-block;
    float:none;
    padding-top: 20px;
}
#spacer {
	height: 30%;
}

#buttons {
	padding-top: 4%;
	padding-right: 0;
}
#map-canvas {
        height: 300px;
        width: 400px;
        margin-left: 6%;
        /*box-shadow: 1px 1px 4px 2px rgba(0,0,0 ,0.7);*/
        font-family: 'Alegreya', sans-serif;
        /*border-radius: 10px;*/
        border: 1px solid silver;
        display: inline-block;
        float: left;
        padding: 0;
        margin: 0;
}
#map {
		
		height: 90%;
        width: 40%;
        margin-left: 6%;
        /*box-shadow: 1px 1px 4px 2px rgba(0,0,0 ,0.7);*/
        font-family: 'Alegreya', sans-serif;
        /*border-radius: 10px;*/
        border: 1px solid silver;
        display: inline-block;
        float: left;
        padding: 0;
        margin: 0;
        /*padding-left: 5%;*/
      }

 .infoHeader {
 	background-color: #ACF0F2;
 	padding: 5px;
 	font-family: 'Alegreya', sans-serif;
 	color: #362C24;
 }

.infoBody {
	font-family: 'Alegreya', sans-serif;
	color: #362C24;
	margin: 2px;
	margin-bottom: 10px;
	padding-bottom: 10px;

}

.gm-style-iw {
		max-width: 200px;
}

#directionsPanel {
	font-family: 'Alegreya', sans-serif;
	height: 100%;
	/*width: 45%;*/
	float: left;
	padding: 0;
	margin: 0;
	padding-left: 5%;
	padding-right: 5%;
	margin-right: 0;
	
}

#mapHolder, #mapHolder2 {
	min-width: 1px;
	min-height: 1px;
}
/*#extraInfo {
	background-color: rgba(255,255,255,0.8);
	width: 20%;
	position: absolute;
	top: 27%;
	left: 25%;
	z-index: 9999999;
	padding: 5px;
	border: 1px #362C24 solid;

}*/

.bold {
	font-weight: bold;
}

.infoImg img {
	max-width: 100%;
	/*display: inline-block;*/
}



.adp, .adp table {
	font-family: 'Alegreya', sans-serif;
}

.gm-style {
	font-family: 'Alegreya', sans-serif;
}


/*directions marker*/
.adp-marker {
	display: none;
}

/*directions titles*/
.adp-text {
	padding: 10px;
}

.warnbox-content, .warnbox-c1, .warnbox-c2 {
	display: none;
}
/*need media queries*/

