body {
    overflow-x: hidden;
    font-family: 'Alegreya';
       
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}
.navbar-collapse {
  text-align:center;
  background-color: rgba(0,0,0,0.8);
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  border: none;
}


.navbar-default .navbar-nav li a {
    color: white;
    height: 10% !important;

}
.navbar-default{
    background-color: black;
    border-color: black;
    
    opacity: 0.7;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    
    color: white;
}



.navbar-nav {
    display:inline-block;
    float:none;
    padding-top: 20px;
}
header {
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: black;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 100%;
}

#homepage {
    padding: 10%;
    margin-top: 45%;
    background-color: rgba(255, 255, 255,0.8);
}

header .header-content {
  
   /* top: 200px;*/
    width: auto;
    height: 100%;
    padding-top: 10%;
   /* padding: 90px 15px;*/
    text-align: center;
}

header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

#startInfo {
    height: 100%;
}

#startInfo div {
    padding: 150px;
    height: 100%;
}
.btn-xl {
    background-color: #1695A3;
    opacity: 0.8;
    padding: 15px 25px;
    font-size: 22px;
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px;
    }

#mapInfo{
    padding-top: 18%;
    padding-bottom: 400px;
 }
.panel{
    background:white;
    border: 1px;
    border-color: #1695A3; 
    border-radius: 1px;
    opacity: 0.9;

}
.panel > .panel-heading {
    
    background-color: #1695A3;
    color: white;

}
p{
    margin: 10px;
}
#submitBtn{
    padding-top: 15px;
   
}
#submitForm{
   
}
#aboutUs {
    background-color: rgba(255, 255, 255, 0.7);
    margin-top: 50%;
    padding-top: 18%;
    text-align: center
}

#comingSoon {
    padding-top: 20%;
    background-color: rgba(0,0,0,0.7);
    color: white;
}

.sectionContent {
    width: 40%;
    text-align: center;
    margin-left: 30%;
}

header .header-content .header-content-inner hr {
    margin: 30px auto;
}

header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color:black; 

}
.landmark span{
    background-color: #FFF;
}

.landmark input{
    border-right-style:none;
}
section {
    padding: 125px 0;
    background-color: #fff
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Alegreya","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 0;
    color: #EB7F00;
}

@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
}
.dim {
  opacity: 0.6;
}


.spinner {
      position: fixed;
      top: 50%;
      left: 50%;
      z-index: 99999999999;
    }